extends layout 

append head 
  link(rel="stylesheet" href="/stylesheets/signup.css")

block content
  div(class="page-container")
    div(class="left-page-container")
      h2 Join people from all over Middle Earth
      img(id="isengard-map" src=" ../images/isengard-helms-deep-map.png" alt="middle-earth")
      h2 in their quest to get organized
    div(class="right-page-container")
      div(class="right-page-nav")
        div(class="nav-buttons")
          a(id="home-button" href="/") Home
          a(id="log-in-button" href="/users/login") Log in
      div(class="right-page-body")
        form(action='/users/signup' method='post')
          h1 Sign up for free
          input(type="hidden" name="_csrf" value=csrfToken)
          div(class="label-container")
            label(for="firstName") First name
            span(class="error-messages")=errors.firstName
          input(type="text" name="firstName" value=user.firstName)
          div(class="label-container")
            label(for="lastName") Last Name
            span(class="error-messages")=errors.lastName
          input(type="text" name="lastName" value=user.lastName) 
          div(class="label-container")
            label(for="email") Email
            span(class="error-messages")=errors.email
          input(type="text" name="email" value=user.email)
          div(class="label-container")
            label(for="password") Password*
            span(class="error-messages")=errors.password
          input(type="string" name="password")
          div(class="label-container")
            label(for="confirmPassword") Confirm Password
            span(class="error-messages")=errors.confirmPassword
          input(type="string" name="confirmPassword")
          button(id="submit-button") Sign up!
          ul *Password must contain one:
            li lowercase letter
            li uppercase letter
            li number
            li special character ("!@#$%^&*")
          

//- TODO NEEDS INPUT ON LABELS, LINKS FINISHED AND MOBILE OPTIMIZATION