extends layout 

append head 
  link(rel="stylesheet" href="/stylesheets/signup.css")

block content
  div(class="page-container")
    div(class="left-page-container")
      h2 Join people from all over Middle Earth
      img(id="isengard-map" src="http://localhost:8080/public/images/isengard-helms-deep-map.png" alt="middle-earth")
      h2 in their quest to get organized
    div(class="right-page-container")
      div(class="right-page-nav")
        div(class="nav-buttons")
          a(id="home-button" href="") Home
          a(id="log-in-button" href="") Log in
      div(class="right-page-body")
        form(action='/users/signup' method='post' class="form")
          h1 Sign up for free
          input(type="hidden" name="_csrf" value=csrfToken)
          label(for="firstName")
            | First name
            span(class="error-messages")=errors.firstName

          input(type="text" name="firstName" value=user.firstName)
          label(for="lastName")
            | Last Name
            span(class="error-messages")=errors.lastName
          input(type="text" name="lastName" value=user.lastName) 
          label(for="email")
            | Email
            span(class="error-messages")=errors.email
          input(type="text" name="email" value=user.email)
          label(for="password")
            | Password*
            span(class="error-messages")=errors.password
          input(type="string" name="password")
          label(for="confirmPassword")
            | Confirm Password
            span(class="error-messages")=errors.confirmPassword
          input(type="string" name="confirmPassword")
          button(id="submit-button") Sign up!
          ul *Password must contain one:
            li lowercase letter
            li uppercase letter
            li special character ("!@#$%^&*")
          

//- TODO NEEDS INPUT ON LABELS, LINKS FINISHED AND MOBILE OPTIMIZATION